<!DOCTYPE html>
<html>
  <head>
    <title>ansifier [gallery]</title>
	  <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
	<link rel="stylesheet" href="static/style.css">
  </head>

  <body>
    <div class="container">
      <h1>ansifier [gallery]</h1>
	  <p id="description">
      This is a placeholder<br/>
      Here are some recent ansi arts:
      {% for art in arts %}
        {{ art | safe }}
      {% endfor %}
      <br/>
      <a href="/">go back</a>
    </p>
  </body>
</html>
