<!DOCTYPE html>
<html>
  <head>
    <title>ansifier</title>
	  <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
  </head>
  <body>
    <div class="container">
      <h1>ansifier</h1>
	  <p id="description">Convert image files to styled HTML or ansi-escaped text<br/>
	  for display in text-only browsers and terminals, respectively;<br/>
	  A web wrapper for <a href="https://github.com/amminer/ansifier">ansifier</a></p>
      
	  <!-- form -->

      <form id="imageForm">
		<div class="requiredSet">

		<div class="input">
          <label for="imageFile">Image File:</label>
          <input class="fileInput" type="file" id="imageFile" name="imageFile">
		</div>

		<span> or </span>

		<div class="input">
          <label for="imageURL">Image URL:</label>
          <input class="fileInput" type="text" id="imageURL" name="imageURL">
		</div>

		</div>
        
		<div class="input">
        <label for="format">Output Format:</label>
        <select id="format" name="format" required>
          <option value="html/css">HTML/CSS</option>
          <option value="ansi-escaped">ANSI Escaped</option>
        </select>
		</div>

		<div class="optional_input">
          <label for="width">Output Width (min. 20, max. 1000):</label>
          <input type="number" id="width" name="width" value=60>
		</div>

		<div class="optional_input">
          <label for="height">Output Height (min. 20, max. 1000):</label>
          <input type="number" id="height" name="height" value=60>
		</div>

		<div class="optional_input">
          <label for="characters">
		   Characters:
			  <span disabled class="tooltip" title="characters to be chosen from when converting regions of the image to text. Should be sorted from more opaque to less opaque in normal usage.">(i)</span>
		  </label>
          <input type="text" id="characters" name="characters" value="█▓▒░#≡±+÷- ">
		</div>

        <input id="submit" type="submit" value="Submit">
        <div id="result"></div>
	      <div class="optional_input">
		    <a id="downloadBtn" style="display: none;">Download Output</a>
	      </div>
	    </div>
      </form>

	  <!-- /form -->
    
    <script>
      document.getElementById("imageForm").onsubmit = async function(event) {
        event.preventDefault();

		var result_container = document.getElementById("result");
		result_container.style.fontSize = document.body.style.fontSize;
        result_container.innerHTML = `<pre>processing request...</pre>`;

		//const remote = "https://ansifier.com/"
		const remote = "/ansify";

        const format = document.getElementById("format").value;
		const fileInput = document.getElementById("imageFile")
        const imageFilePath = fileInput.value;
		const file = fileInput.files ? fileInput.files[0] : null;
        const imageURL = document.getElementById("imageURL").value;
        const width = document.getElementById("width").value;
        const height = document.getElementById("height").value;
		const characters = document.getElementById("characters").value;
		var response = {
			status: 400,
			text: async() => "ERROR: Please provide a file or URL as input"
		};

		var ready = true;
		const formData = new FormData();
		formData.append("format", format);
		formData.append("width", width);
		formData.append("height", height);
		formData.append("characters", characters);
		if (imageFilePath != "") {
			fileInput.value = "";
			console.log("POSTing file", imageFilePath);
			formData.append("file", file);
		} else if (imageURL != "") {
			console.log("POSTing url", imageURL);
			formData.append("url", imageURL);
		} else {
			ready = false;
		}
		if (ready) {
			response = await fetch(remote, {
			  method: "POST",
			  body: formData
			});
		}

		var result = await response.text();
		result_container.innerHTML = `<pre style="display: block;">${result}</pre>`;
		const downloadBtn = document.getElementById("downloadBtn");

		if (! result.startsWith("ERROR:")) {
			var lines = result_container.innerHTML.split('<br>');
			if (lines == [result_container.innerHTML]) {
				const lines = result_container.innerHTML.split('\n');
			}
			line = lines[0].replace(/<span[^>]*>([^<]{2})<\/span>/g, '$1');
			line = line.replace(/<[^>]*>/g, '');
			lineLength = line.length;
			var newSize = 128 / lineLength;
			newSize = Math.min(newSize, 4.0);
			newSize = Math.max(newSize, 0.04);
			result_container.style.fontSize = newSize + "em";

			if (window.innerWidth >= 1024) {
				result_container.style.fontSize = newSize * 2 + "em";
			}

			const dataUrl = "data:text/plain;charset=utf-8," + encodeURIComponent(result);
			downloadBtn.href = dataUrl;
			downloadBtn.download = format === "html/css"? "output.html" : "output.txt";
			downloadBtn.innerText = "Download Output";
			downloadBtn.style.display = "inline";

			} else {
				result_container.style.fontSize = "0.8em";
				downloadBtn.style.display = "none";
			}
      };
    </script>
  </body>
</html>

<style>

body {
	background: #011;
	color: #FFD;
	min-width: 245px;
}

.requiredSet {
	padding: 1em;
	width: 100% - 2em;
	border-style: solid;
	border-width: 1px;
}

form {
    max-width: 1080px;
}

form > * {
	padding: 0.5em 0em;
}

#imageURL {
    width: auto;
}

#submit {
	padding: 0.2em 1em;
}

#result {
	padding: 20px 0em;
    font-size: 2em;
}

</style>
