<!DOCTYPE html>
<html>
  <head>
    <title>ansifier</title>
	  <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
	<link rel="stylesheet" href="static/style.css">
  </head>

  <body>
      <h1>ansifier</h1>

	  <p id="description">
        Convert image files to styled HTML or ansi-escaped text<br/>
        for display in text-only browsers and terminals, respectively;<br/>
        A web wrapper for
        <a href="https://github.com/amminer/ansifier" target="_blank">ansifier</a>.<br/>
        Hover over the (i) in a field's label for more information, or read the documentation
        <a href="https://github.com/amminer/ansifier-cloud/blob/main/README.md" target="_blank">here</a>.<br/>
        Check out the public gallery of text art made with this tool 
        <a href="/gallery" target="_blank">here</a>!<br/>
        {% if "username" in session %}
          logged in as {{ session.username | safe }}
        {% else %}
          not logged in - <a href="/login">log in</a>
        {% endif %}
      </p>
      
	<!-- form -->

    <form id="imageForm">
	  <div class="requiredSet">

      <div class="input">
        <label for="imageFile">Image File:</label>
        <input class="fileInput" type="file" id="imageFile" name="imageFile"/>
      </div>

      <span> or </span>

      <div class="input">
        <label for="imageURL">Image URL
          <span disabled class="tooltip"
           title="most image hosts don't like receiving traffic from the cloud, where this application is running - if the URL doesn't work, try downloading the image to your machine, then uploading it using the Image File input.">
            (i)
          </span>:
        </label>
        <input class="fileInput" type="text" id="imageURL" name="imageURL"/>
      </div>

      </div> <!-- /requiredSet -->
        
	  <div class="input">
        <label for="format">Output Format:</label>
        <select id="format" name="format" required>
          <option value="html/css">HTML/CSS</option>
          <option value="ansi-escaped">ANSI Escaped</option>
        </select>
	  </div>

	  <div class="optional_input">
        <label for="width">Output Width (min. 20, max. 1000):</label>
        <input type="number" id="width" name="width" value=60 />
	  </div>

	  <div class="optional_input">
        <label for="height">Output Height (min. 20, max. 1000):</label>
        <input type="number" id="height" name="height" value=60 />
	  </div>

	  <div class="optional_input">
      <label for="characters">
		   Characters
			  <span disabled class="tooltip"
          title="characters to be chosen from when converting regions of the image to text. Should be sorted from more opaque to less opaque in normal usage.">
          (i)
        </span>:</label>
      <input type="text" id="characters" name="characters" value="█▓▒░#≡±+÷- "/>
	  </div>

	  <div class="optional_input">
      <label for="public-gallery">
        Submit to public text art gallery
          <span disabled class="tooltip"
           title="if checked, the result of ansification will be saved and made publicly viewable to other users">
            (i)
          </span>:
      </label>
      <input type="checkbox" id="public-gallery" name="public-gallery"/>
	  </div>

      {% if "username" in session %}
	  <div class="optional_input">
      <label for="private-gallery">
        Submit to private text art gallery
          <span disabled class="tooltip"
           title="if checked, the result of ansification will be saved to a gallery only visible to the logged-in user">
            (i)
          </span>:
      </label>
      <input type="checkbox" id="private-gallery" name="private-gallery"/>
	  </div>
      {% endif %}

      <input id="submit" type="submit" value="Submit"/>

    </form>

    <div id="result"></div>
    <div id="public-uid-container" class="optional_input" style="display: none;">
      view your public text art with unique ID <a id="public-uid" target="_blank"></a>
    </div>
    <div id="private-uid-container" class="optional_input" style="display: none;">
      view your private text art with unique ID <a id="private-uid" target="_blank"></a>
    </div>
    <div class="optional_input">
      <a id="downloadBtn" style="display: none;">Download Output</a>
    </div>
    
    <!-- form submission script -->
    <script> document.getElementById("imageForm").onsubmit = async function(event) {
      event.preventDefault();

      let result_container = document.getElementById("result");
      let public_uid_container = document.getElementById("public-uid-container");
      let private_uid_container = document.getElementById("private-uid-container");
      let public_uid_link = document.getElementById("public-uid");
      let private_uid_link = document.getElementById("private-uid");
      let response = null;

      const remote = "/ansify";
      const format = document.getElementById("format").value;
	  const fileInput = document.getElementById("imageFile")
      const imageFilePath = fileInput.value;
      const file = fileInput.files ? fileInput.files[0] : null;
      const imageURL = document.getElementById("imageURL").value;
      const width = document.getElementById("width").value;
      const height = document.getElementById("height").value;
      const characters = document.getElementById("characters").value;
      const publicGallery = document.getElementById("public-gallery").checked;
      let privateGallery = false;
      const privateGalleryInput = document.getElementById("private-gallery");
      if (privateGalleryInput != null) {
        privateGallery = privateGalleryInput.checked;
      }
      const formData = new FormData();

      result_container.innerHTML = `<pre>processing request...</pre>`;
      downloadBtn.style.display = "none";
      public_uid_container.style.display = "none";
      private_uid_container.style.display = "none";

      formData.append("format", format);
      formData.append("width", width);
      formData.append("height", height);
      formData.append("characters", characters);
      formData.append("public-gallery", publicGallery);
      formData.append("private-gallery", privateGallery);
      if (imageFilePath != "") {
        fileInput.value = "";
        console.log("POSTing file", imageFilePath);
        formData.append("file", file);
      } else if (imageURL != "") {
        console.log("POSTing url", imageURL);
        formData.append("url", imageURL);
      } else {
        response = {
          status: 400,
          text: async() => "Please provide a file or URL as input"
        };
      }
      if (response === null) {
        response = await fetch(remote, {
          method: "POST",
          body: formData
        });
	  }

      let result = await response.text();

      if (response.ok) {
        let publicUid = response.headers.get("public-uid")
        let privateUid = response.headers.get("private-uid")

        if (publicUid != null) {
          public_uid_link.innerHTML = `${publicUid}`;
          public_uid_link.href = `/gallery?uid=${publicUid}`;
          public_uid_container.style.display = "block";
        } else {
          public_uid_container.style.display = "none";
        }

        if (privateUid != null) {
          private_uid_link.innerHTML = `${privateUid}`;
          private_uid_link.href = `/gallery?uid=${privateUid}`;
          private_uid_container.style.display = "block";
        } else {
          private_uid_container.style.display = "none";
        }

        // download link to save the ansified image to the client machine
        const dataUrl = "data:text/plain;charset=utf-8," + encodeURIComponent(result);
        const downloadBtn = document.getElementById("downloadBtn");
        downloadBtn.href = dataUrl;
        downloadBtn.download = format === "html/css"? "output.html" : "output.txt";
        downloadBtn.innerText = "Download Output";
        downloadBtn.style.display = "inline";

      } else { // response is not ok
        downloadBtn.style.display = "none";
        public_uid_container.style.display = "none";
        private_uid_container.style.display = "none";
      }

      result_container.innerHTML = `<pre style="display: block;">${result}</pre>`;
    }; // end of onsubmit func def
    </script>
    <!-- /form submission script -->
  </body>
</html>
