<!DOCTYPE html>
<html>
  <head>
    <title>ansifier</title>
	  <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
	<link rel="stylesheet" href="static/style.css">
  </head>

  <body>
    <div class="container">
      <h1>ansifier</h1>
	  <p id="description">
      Convert image files to styled HTML or ansi-escaped text<br/>
      for display in text-only browsers and terminals, respectively;<br/>
      A web wrapper for
      <a href="https://github.com/amminer/ansifier" target="_blank">ansifier</a>.<br/>
      Hover over the (i) in a field's label for more information, or read the documentation
      <a href="https://github.com/amminer/ansifier-cloud/blob/main/README.md" target="_blank">here</a>.
    </p>
      
	  <!-- form -->

      <form id="imageForm">
		<div class="requiredSet">

      <div class="input">
          <label for="imageFile">Image File:</label>
          <input class="fileInput" type="file" id="imageFile" name="imageFile">
      </div>

      <span> or </span>

      <div class="input">
            <label for="imageURL">Image URL:</label>
            <input class="fileInput" type="text" id="imageURL" name="imageURL">
      </div>

		</div>
        
		<div class="input">
        <label for="format">Output Format:</label>
        <select id="format" name="format" required>
          <option value="html/css">HTML/CSS</option>
          <option value="ansi-escaped">ANSI Escaped</option>
        </select>
		</div>

		<div class="optional_input">
      <label for="width">Output Width (min. 20, max. 1000):</label>
      <input type="number" id="width" name="width" value=60>
		</div>

		<div class="optional_input">
      <label for="height">Output Height (min. 20, max. 1000):</label>
      <input type="number" id="height" name="height" value=60>
		</div>

		<div class="optional_input">
      <label for="characters">
		   Characters
			  <span disabled class="tooltip"
          title="characters to be chosen from when converting regions of the image to text. Should be sorted from more opaque to less opaque in normal usage.">
          (i)
        </span>
        :
		  </label>
      <input type="text" id="characters" name="characters" value="█▓▒░#≡±+÷- ">
		</div>

		<div class="optional_input">
      <label for="gallery">
		   Submit to text art gallery
			  <span disabled class="tooltip"
          title="if checked, the result of ansification will be saved and made publicly viewable to other users. At the time of writing, this is under development and this checkbox doesn't actually do anything :)">
          (i)
        </span>
        :
		  </label>
      <input type="checkbox" id="gallery" name="gallery">
		</div>

        <input id="submit" type="submit" value="Submit">
        <div id="result"></div>
        <div id="uid-container" class="optional_input" style="display: none;">
          view your output with unique ID
          <a id="uid" target="_blank"></a>
        </div>
        <div class="optional_input">
          <a id="downloadBtn" style="display: none;">Download Output</a>
        </div>
	    </div>
      </form>

	  <!-- /form -->
    
    <!-- form submission script -->
    <script> document.getElementById("imageForm").onsubmit = async function(event) {
      event.preventDefault();

      var result_container = document.getElementById("result");
      result_container.style.fontSize = document.body.style.fontSize;

      var uid_container = document.getElementById("uid-container");
      var uid_link = document.getElementById("uid");

      const remote = "/ansify";
      const format = document.getElementById("format").value;
		  const fileInput = document.getElementById("imageFile")
      const imageFilePath = fileInput.value;
      const file = fileInput.files ? fileInput.files[0] : null;
      const imageURL = document.getElementById("imageURL").value;
      const width = document.getElementById("width").value;
      const height = document.getElementById("height").value;
      const characters = document.getElementById("characters").value;
      const gallery = document.getElementById("gallery").checked;
      var response = {
        status: 400,
        text: async() => "ERROR: Please provide a file or URL as input"
      };

      var ready = true;
      const formData = new FormData();
      formData.append("format", format);
      formData.append("width", width);
      formData.append("height", height);
      formData.append("characters", characters);
      formData.append("gallery", gallery);
      if (imageFilePath != "") {
        fileInput.value = "";
        console.log("POSTing file", imageFilePath);
        formData.append("file", file);
      } else if (imageURL != "") {
        console.log("POSTing url", imageURL);
        formData.append("url", imageURL);
      } else {
        ready = false;
      }
      if (ready) {
        response = await fetch(remote, {
          method: "POST",
          body: formData
        });
		  }

      result_container.innerHTML = `<pre>processing request...</pre>`;
      var result = await response.text();

      if (response.ok) {
        if (gallery) {  // last line of result will be a uid
          console.log("before gallery:")
          console.log(result)
          lines = result.split('\n');
          uid = lines[lines.length - 1];
          lines.pop();
          result = lines.join('\n');
          console.log("after gallery:")
          console.log(result)
          uid_link.innerHTML = `${uid}`;
          uid_link.href = `/gallery?uid=${uid}`;
          uid_container.style.display = "block";
        } else {
          uid_container.style.display = "none";
        }

        // scale the font size of the ansified image relative to the output & viewport sizes
        var lines = result_container.innerHTML.split('<br>');
        if (lines == [result_container.innerHTML]) {
          const lines = result_container.innerHTML.split('\n');
        }
        line = lines[0].replace(/<span[^>]*>([^<]{2})<\/span>/g, '$1');
        line = line.replace(/<[^>]*>/g, '');
        lineLength = line.length;
        var newSize = 128 / lineLength;
        newSize = Math.min(newSize, 4.0);
        newSize = Math.max(newSize, 0.04);
        result_container.style.fontSize = newSize + "em";

        if (window.innerWidth >= 1024) {
          result_container.style.fontSize = newSize * 2 + "em";
        }

        // download link to save the ansified image to the client machine
        const dataUrl = "data:text/plain;charset=utf-8," + encodeURIComponent(result);
        const downloadBtn = document.getElementById("downloadBtn");
        downloadBtn.href = dataUrl;
        downloadBtn.download = format === "html/css"? "output.html" : "output.txt";
        downloadBtn.innerText = "Download Output";
        downloadBtn.style.display = "inline";

      } else { // response is not ok
        console.log("resetting result container font size, download btn display state")
        result_container.style.fontSize = "1em";
        downloadBtn.style.display = "none";
        uid_container.style.display = "none";
      }

      result_container.innerHTML = `<pre style="display: block;">${result}</pre>`;
    }; // end of onsubmit func def
    </script>
    <!-- /form submission script -->

  </body>
</html>
